/* Para ajustar o tamanho do campo pesquisar*/
.campo-pesquisar {
    max-width: 200px;
}

/* Definindo as cores para a navbar e o background */

/* cor do texto */
.info-banco{
    color: #373636;
}
/* Para centralizar a segunda div */
.centralizar-conteudo {
    margin-top: 135px; /* Ajuste a margem superior conforme desejado */
}

/* Tudo isso ae é pra ajeitar o footer */
html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px; /* Margin bottom by footer height */
}

